{% extends "layout/layout.twig" %}

{% block article %}

    <article>

        <h2> {{ article.title }} - {{ article.createdAt }}</h2>

        <figure>
            <img src="{{ article.imgUrl }}" width="300" alt="{{ article.altImg }}">
            <figcaption>{{ article.content }}</figcaption>
            {% if user.role == 1 %}
                <button>
                    <a href="index.php?access=article_deleteArticle&id={{article.id}}">Supprimer</a>
                </button>
            {% endif %}
            
        </figure>

    </article>

    <aside>

        {% block commentaires %}

            {% include "comment/commentList.twig" %}

            {% if user %}

            {% if myCommentaire %}

                {% include "comment/editCommentaire.twig" %}

            {% else %}

                {% include "comment/commentCreate.twig" %}
                         
            {% endif %}
            

                
                
            {% endif %}

        {% endblock %}

    </aside>

{% endblock %}