{% block article %}

    {% for article in articles | sort((a, b) => a.createdAt <=> b.createdAt) | reverse %}

        <article>
        
            <h2> {{ article.title }} - {{ article.createdAt }}</h2>

            <figure>
                <img src="{{ article.imgUrl }}"width="300"alt="{{ article.altImg }}">
                <figcaption>{{ article.content }}</figcaption>
            </figure>

        </article>

        <a href="index.php?access=article_renderArticle&id={{article.id}}">Ajout un commentaire</a>

        {% if user.role > 0 %}

            {% include "articles/articleButton.twig"%}

        {% endif %}

    {% endfor %}

{% endblock %}