
{% extends "layout/layout.twig" %}

{% block content %}


{% if method == 'GET' %}

  <article>

      <h1> {{ article.titre }} </h1>

      <figure>

         <img src=" {{ article.imgUrl }} " alt="{{ article.altImg }}">
         <figcaption maxlength="10"> {{ article.contenu }} </figcaption>
         
      </figure>

   </article>

      <time datetime=" {{ article.datePublication }} "></time>

      <aside>

         {% for comment in comments %}
         <div>
            <p> {{ comment.contenu }} - {{ comment.auteurId }} 
                 {% if comment.auteurId == user.id %}
               <a href="index.php?access=comment_update&commentId={{ comment.id }}" class="btn btn-primary">Modifier <i class="fa-solid fa-pencil"></i></a>
             {% endif %}
            </p>
        
             
         </div>

         {% endfor %}
      
      </aside>

      {% elseif method == "update" %}

      <form action="">
         <textarea name="comment" id="comment" cols="30" rows="10"> {{ comment.contenu }} </textarea>
         <input type="file" name="img" id="img">
         <button type="submit" >Enregister les modifications</button>
      </form>

{% endif %}

 


   {% block createComment %}
      {% include "comments/createComment.twig" %}
   {% endblock %} 


{% endblock %}
