
{% extends "layout/layout.twig" %}

{% block content %}

{% if method == 'GET' %}

 <article>

      <h1> {{ article.titre }} </h1>

      <figure>

         <img src=" {{ article.imgUrl }} " alt="{{ article.altImg }}">
         <figcaption maxlength="10"> {{ article.contenu }} </figcaption>
         
      </figure>

   </article>

   {% else %}

   <input type="text" name="titre" id="titre" placeholder="Titre de l'article">
   <input type="file" name="img" id="img">
   <textarea name="contenu" id="" cols="30" rows="10">  {{ article.contenu }} </textarea>

{% endif %}

      <time datetime=" {{ article.datePublication }} "></time>

      <aside>

         {% for comment in comments %}
            <p> {{ comment.contenu }} - {{ comment.auteurId }} </p>
         {% endfor %}
      
      </aside>



  

   
   {% block createComment %}
      {% include "comments/createComment.twig" %}
   {% endblock %} 


{% endblock %}
