
{% extends "layout/layout.twig" %}

{% block content %}

   <article>

      <h1> {{ article.titre }} </h1>

      <figure>

         <img src=" {{ article.imgUrl }} " alt="{{ article.altImg }}">
         <figcaption maxlength="10"> {{ article.contenu }} </figcaption>
         
      </figure>

      <time datetime=" {{ article.datePublication }} "></time>

      <aside>

         {% for comment in comments %}
            <p> {{ comment.contenu }} - {{ comment.auteurId }} </p>
         {% endfor %}
      
      </aside>

   </article>

   
   {% block createComment %}
      {% include "comments/createComment.twig" %}
   {% endblock %} 


{% endblock %}
