{% extends "layout/layout.twig" %}

{% block article %}

    <article>

        <h2> {{ article.titre }} - {{ article.datePublication }}</h2>

        <figure>
            <img src="{{ article.imgUrl }}" width="300" alt="{{ article.altImg }}">
            <figcaption>{{ article.contenu }}</figcaption>
        </figure>

    </article>

    <aside>

        {% block commentaires %}

            {% include "commentaires/commentairesList.twig" %}

            {% if user %}
                {% block createCommentaire %}
                    {% include "commentaires/createCommentaire.twig" %}
                {% endblock %}
            {% endif %}

        {% endblock %}

    </aside>

{% endblock %}